<div class="container">
    <h2>Esegui l'Autenticazione</h2>

    <form>
        <mat-form-field appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Username / Email" name="usename" [(ngModel)]="username">
        </mat-form-field>

        <br />

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" value="" name="password" type="password" [(ngModel)]="password">
        </mat-form-field>

        <br />

        <div style="margin-left: 65px;">
            <button mat-raised-button color="primary" (click)="submit()">Login</button>

            <span *ngIf="show"> <button mat-button color="accent">Login avvenuto con successo !!</button></span>
        </div>
    </form>
</div>